/* bakbak-one-regular - latin */
@font-face {
  font-family: 'Bakbak One';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../../fonts/bakbak-one/bakbak-one-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../../fonts/bakbak-one/bakbak-one-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}