# Project
/artwork
/backups
/build
/out
/scripts
/styles
/target
/exploded
/node_modules

# Docker
.env

# Mac OSX
.DS_Store
.Spotlight-V100
.Trashes

# VS Code
*.code-workspace
cspell.json

# IntelliJ
#.idea
#.run
#.settings
#*.iml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/httpRequests
.idea/php.xml
