<!--/* CMS Platform Template, 2024 */-->
<h4 th:if="${not #strings.isEmpty(title)}">
  <i th:if="${not #strings.isEmpty(icon)}" class="fa" th:classappend="${icon}"></i>
  [[${title}]]
</h4>
<div class="platform-content-container">
  <ul th:id="${#strings.concat('deeplinked-tabs-', widgetContext.uniqueId)}" class="tabs" data-deep-link="true" data-update-history="true" th:attr="data-deep-link-smudge=${smudge eq 'true'} ? 'true',data-deep-link-smudge-delay=500,data-deep-link-smudge-offset=8" data-tabs>
    <li th:each="contentTab, tabStatus: ${contentTabList}" class="tabs-title" th:classappend="${tabStatus.first} ? 'is-active'"><a th:href="${#strings.concat('#', contentTab.linkId)}" aria-selected="true">[[${contentTab.name}]]</a></li>
  </ul>
  <div class="tabs-content" th:data-tabs-content="${#strings.concat('deeplinked-tabs-', widgetContext.uniqueId)}">
    <div th:each="contentTab, tabStatus: ${contentTabList}" th:id="${contentTab.linkId}" class="tabs-panel" th:classappend="${tabStatus.first} ? 'is-active'">
      <div class="platform-content">
        [(${contentTab.html})]
      </div>
    </div>
  </div>
</div>
