<!--/* CMS Platform Template, 2024 */-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <footer id="platform-footer" th:fragment="footer">
    <div class="platform-footer">
      <th:block th:each="section, sectionStatus : ${footerRenderInfo.sectionRenderInfoList}">
        <hr th:if="${section.hr}" />
        <div th:id="${not #strings.isEmpty(section.htmlId)} ? ${section.htmlId}"
             th:class="${not #strings.isEmpty(section.cssClass) and (#strings.contains(section.cssClass, 'grid') or #strings.contains(section.cssClass, 'platform-no-margin'))} ? ${section.cssClass} : 'full-container'" 
             th:style="${not #strings.isEmpty(section.cssStyle)} ? ${section.cssStyle}"
             th:switch="${(not #strings.isEmpty(section.cssClass)) and (#strings.contains(section.cssClass, 'grid') or #strings.contains(section.cssClass, 'platform-no-margin'))} ? ${true} : ${false}">
          <th:block th:replace="~{layout-section-renderer :: sections}"></th>
        </div>
      </th:block>
    </div>
  </footer>
</html>