# This workflow will build a Java project with Ant
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-ant

name: Java CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 17
    - name: Compile the source
      run: ant -noinput -buildfile build.xml clean compile
    - name: Run unit tests
      run: ant -noinput -buildfile build.xml -lib lib/tests ci-test
    - name: Package the web application
      run: ant -noinput -buildfile build.xml -lib lib/war package
